* {
    box-sizing: border-box;
}

body {
    background-color: #e1e1e1;
    font-family: 'HelveticaNeue', 'Montserrat', sans-serif;
    font-weight: medium;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}
    