/*
FONTS
*/

@font-face {
    font-family: Futura;
    font-weight: normal;
    src: url('../../fonts/Futura.ttc') format('TTC');
  }
 
  @font-face {
    font-family: HelveticaNeue; 
    font-weight: bold;
    src: url('../../fonts/HelveticaNeue-Bold.otf') format('OTF');
  }

  @font-face {
    font-family: HelveticaNeue; 
    font-weight: medium;
    src: url('../../fonts/HelveticaNeue.ttc') format('TTC');
  }

/*
GLOBAL
*/

body {
    // background-color: #e1e1e1;
    background-color: #e1e1e1;
    font-family: HelveticaNeue;
    font-weight: medium;
    margin: 0;
    padding: 0;
}

.circle {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%
}

html {
    font-size: 100%;
  }
  
  * {
    box-sizing: border-box;
  }

  // pre {
  //   background: white;
  //   margin: 1em;
  //   padding: 1em;
  // }
  
  a {
    text-decoration: none;
    color: inherit
  }
  
  a:hover {
    color: #E55B1C
  }

/*
FONTS
*/

  
.header {
    position: fixed;
    // width: 125px;
    width: 80px;
    background: white;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.25);
    color: #999;
    // margin-right: 20px;
}
  
  
  
  .header ul {
    list-style-type: none;
    width: inherit;
  }
  
  .header ul li {
    padding: 0 12px 3px 0;
    white-space: nowrap;
    font-size: 0.98em;
    font-weight: 700;
    text-align: right;
  }
  
//   .head footer {}
  
  .logo {
    margin-top: 8vh;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: red;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }


  
  // .logo:hover {
  //   background: #404040;
  // }
  
  // .content {
  //   font-size: 1.20em;
  //   font-weight: 300;
  //   margin-left: 126px;
  //   padding-left: 0em;
  // }
  
  .hero {
    min-height: 320px;
    font-size: 1.6em;
    text-align: left;
    padding-right: 2%;
  }

  .hero h2 {
    font-size: 2.20em;
    font-family: Futura;
    font-weight: normal;
    margin-bottom: 100px;
  }

  h2:before {
    display: block;
    height: 3px;
    background-color: #ff0000;
    content: " ";
    width: 180px;
    // margin: 0 auto;
    // margin-top: 40px;
    margin-bottom: 40px;
}

  .heading {
    padding-bottom: 40px;
    font-size: 60px;
    font-family: Futura;
    font-weight: normal;
  }

  .dates {
    font-family: HelveticaNeue;
    font-weight: bold;
  }
  
  
  @media screen and (max-width: 640px) {
    #header {
      height: 125px;
      display: table;
      width: 100%;
    }
    #header ul li {
      display: inline;
    }
    #content  {
      margin-left: 0;
      margin-top: 125px;
    }
  }

.top-bar, .top-bar ul {
  background-color: transparent;
  font-family: Futura;
  font-weight: normal;
}

// .top-bar-left {
//   color: green;
// }

.row {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
}



//Homepage images - CUSOTM API

.img-team {
  height: 50vh;
  // background-size: cover;
  // background-position: center;
}

.img-service {
  height: 50vh;
  background-size: cover;
  background-position: center;
}






// BEGIN NAV

$toggle-size: 32px;
$bar-size: $toggle-size / 8;
$bar-space: ($toggle-size - ($bar-size * 5)) / 2;

$bar2-top: $bar-size + $bar-space;
$bar3-top: $bar2-top * 2;

#nav-container {
	margin-left: auto;
	position: relative;
}

#nav-toggle {
	display: block;
	width: $toggle-size;
	height: $toggle-size;
	cursor: pointer;
	transform: rotate(0deg);
}

#nav-toggle span {
  background-color: black;
  // background-color: #e10000;
	width: 100%;
	height: $bar-size;
	border-radius: $bar-size / 4;
	display: block;
	position: absolute;
	left: 0;
	content: '';
	// transition time and time function
	transition: .5s ease-in-out;
}

#nav-toggle span:nth-child(1) {
  top: $bar-size;
  transform-origin: left center;
}

#nav-toggle span:nth-child(2) {
  top: $bar2-top + $bar-size;
  transform-origin: left center;
}

#nav-toggle span:nth-child(3) {
  top: $bar3-top + $bar-size;
  transform-origin: left center;
}

#nav-toggle.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -($toggle-size / 32) + $bar-size;
  left: $bar-size;
}

#nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: $bar3-top + ($toggle-size / 32) + $bar-size;
  left: $bar-size;
}

#nav-overlay {
	position: absolute;
	top: $toggle-size / 2;
	left: $toggle-size / 2;
	z-index: -1;
  // background: rgba(0, 0, 0, 0.8);
  background: #e10000;
	border-radius: 50%;
	transition: 1s;
	transform: scale3d(0, 0, 0);
}

#nav-overlay.open {
	transform: scale3d(1, 1, 1);
}

#nav-fullscreen {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	transition: ease-in-out 0.25s;
  transition-delay: 0s;
	visibility: hidden;
	opacity: 0;

	ul {
		list-style: none;
	}

	a {
		color: white;
		text-decoration: none;
	}
}

#nav-fullscreen.open {
	visibility: visible;
	opacity: 1;
	transition: ease-in-out 0.5s;
	transition-delay: 0.25s;
}

// END NAV


// *, *:before, *:after {
//   box-sizing: inherit;
// }

// html {
//   box-sizing: border-box;
// }

// html, body {
// height: 100%;
// }

// body {
// display: flex;
// background-color: black;
// padding: 16px;
// overflow: hidden;
// color: white;
// }

// #nav-overlay {
// background: linear-gradient(180deg, #FF512F 10%, #FF512F 50%, #DD2476 90%);
// }

// #nav-toggle span {
// background-color: white;
// }

// #nav-fullscreen {
// display: flex;
// align-items: center;
// justify-content: center;

// color: white;
// font-family: sans-serif;
// font-size: 10vh;

// li:hover {
//   list-style: disc;
// }
// }

// // END OTHER






/* Big tablets to 1200px (widths smaller than the 1140px row in css document */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
      width: 100%;
      padding: 0 2%;
  }
  .row {
      padding: 0 2%;
  }
}

/* Small tablets to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  body {
      font-size: 18px;
  }
  section {
      padding: 60px 0;
  }
  .long-copy {
      width: 80%;
      margin-left: 10%;
  }
  .step-box {
      margin-top: 10px;
  }
  .step-box:last-child {
      margin-top: 10px;
  }
  .works-step {
      margin-bottom: 40px;
  }
  .works-step:last-of-type {
      margin-bottom: 60px;
  }
  .app-screen {
      width: 50%;
  }
  .icon-small {
      width: 17px;
      margin-right: 5px;
  }
  .city-feature {
      font-size: 90%;
  }
  .plan-box {
      width: 100%;
      margin-left: 0%;
  }
  .plan-price {
      font-size: 250%;
  }
  .contact-form {
      width: 80%;
  }
}


/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body {
      font-size: 16px;
  }
  section {
      padding: 30px 0;
  }
  .row,
  .hero-text-box {
      padding: 0 4%;
  }
  .col {
      width: 100%;
      margin: 0 0 4% 0;
  }
  .main-nav {
      display: none;
  }
  h1 {
      font-size: 180%;
  }
  h2 {
      font-size: 150%;
  }
  .long-copy {
      width: 100%;
      margin-left: 0%;
  }
  .app-screen {
      width: 40%;
  }
  .steps-box:first-child {
      text-align: center;
  }
  .steps-box:last-child {
      margin-top: 0;
  }
  .works-step div {
      height: 40px;
      width: 40px;
      padding: 4px;
      margin-right: 15px;
      font-size: 120%;
  }
  .works-step {
      margin-bottom: 20px;
  }
  .works-step:last-of-type {
      margin-bottom: 20px;
  }
  .social-links {
      list-style: none;
      margin-top: 10px;
      text-align: center;
      float: none;
  }
  .footer-nav {
      list-style: none;
      float: none;
      text-align: center;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  section {
      padding: 25px 0;
  }
  .contact-form {
      width: 100%;
  }
}